<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--     <link rel="stylesheet" type="text/css" href="css/cards.css">
    <link rel="stylesheet" type="text/css" href="css/gameui.css">
 -->    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="cards-ie.css" media="screen" />
    <![endif]-->
    <!--[if IE 9]>
        <link rel="stylesheet" type="text/css" href="cards-ie9.css" media="screen" />
    <![endif]-->

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    --> <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/vendor/socket.io.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/side-nav.js"></script>
    <script type="text/javascript" src="/scripts/modal.js"></script>
    <script type="text/javascript" src="/scripts/new-game.js"></script>
<!--     <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script> -->

  </head>

  <body id="body">

    <% include ./partials/_navbar %>

    <section id="game-container">

    </section>

    <% include ./partials/_game_v2 %>


    <script id="game-template" type="text/x-handlebars-template">
      <article class="game card" data-game-id="{{game_id}}">
        <!-- <button class="btn waves-effect waves-light close-game" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button> -->
        <button class="modal-close btn game-close" style="position:absolute;bottom:0;right:0;">ABANDON</button>

        <div class="game-card-header">
          <h4>Game Status: {{statusDisplay}}</h4>
        </div>
        {{#if users}}
        <ul class="game-card-body">
            {{#each users}}
              <li>Opponent: {{username}}</li>
            {{/each}}
          </ul>
          {{else}}
          <p>Opponent: Not found yet</p>
          {{/if}}
        <div class="game-card-footer">
          <span>Game ID: {{game_id}}</span>
        </div>
      </article>
    </script>

   <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
  </body>
</html>
