<% include ./partials/_header %>

<div class="container">
  <main>
    <center>
      <div class="section">

        Introduction

This unusual game of bluff is also known as Goofspiel or Goofenspiel. The name GOPS is an acronym for "Game of Pure Strategy", which in a sense it is, since the players all begin with the same cards and therefore have exactly equal chances. The origins of the game are unclear. The earliest known printed description appeared in 1957 in the American game theory textbook Games and Decisions by Luce and Raffia (published by Wiley and reprinted by Dover in 1989). Alex Randolph reports having seen a game with a similar mechanism played soldiers of the Fifth Indian Division in Brindisi, Italy in 1943, using coloured and numbered slips of paper rather than playing-cards for bidding and round cards showing various symbols as prizes. He used this as a basis for his successful game Hol's der Geier (1988) which also appeared in an English edition under the name Raj.

Players and Cards

The basic game is for two players, using three suits from a standard 52-card pack. Cards rank Ace (low), 2, 3, 4, 5, 6, 7, 8, 9, 10, J, Q, K (high). As a prize, the Ace is worth 1 point, cards 2-10 face value, Jack 11, Queen 12 and King 13.

Gops can be adapted for three or more players see variations, adding an extra complete suit for each extra player - so 3 players use a whole 52-card pack and 4-7 players would use cards from two packs.

Setup

The cards are sorted into suits. One suit (traditionally diamonds) is shuffled and stacked face down as a prize pile. Each of the other players takes one complete suit. In the two player game the players fight with spades and clubs and the heart suit is not used.

Play

The top card of the prize pile is turned face up. Then each player selects a card from their hand with which to bid for it and places it face down. When both players are ready, the bid cards are revealed simultaneously, and the higher bid wins the prize card. The bid cards are then discarded and the prize card is placed beside the player who won it. The next card of the prize pile is turned face up and players bid for it in the same way.

If the bids of the two players are equal, the bid cards are discarded but the prize card remains on offer. A new prize card is turned face up and the next bid is for the two prize cards together, then for three prize cards if there is another tie, and so on. If the player's last bid cards are equal, the last prize card (and any others remaining from immediately preceding tied bids) are not won by either player.

Scoring

When both players run out of bid cards the play ends. Each player totals the value of the diamonds they have won in bids (ace=1, 2-10 face value, J=11, Q=12, K=13) and the greater total wins the game.

Strategy

Since you lose your card when you bid it, you will want to conserve your higher cards for bidding on higher prize cards. Ideally, you wish to beat your opponent's bid by exactly one point, thus causing him to lose the most and concerving your bidding power. Thus, you should carefully judge exactly what the card from the bid pile is worth: if you do not have the card you wish to bid for it, it is better to bid higher than lower. If you must bid lower, then bid very low, using a 2, 3, or 4, thus losing as little bid power as possible in the turn.

Variations

Some play that if the bids are tied, the prize card is discarded as well as the bid cards, and the next bid is for the next prize card only.

Some count the ace as the highest card (worth 14 points as a prize) rather than the lowest.




      </div>
    </center>
  </main>
</div>
