<script type="text/javascript" src="/scripts/gameBoard.js"></script>
<link rel="stylesheet" type="text/css" href="css/cards.css">
<link rel="stylesheet" type="text/css" href="css/gameui.css">
<link rel="stylesheet" type="text/css" href="css/jDebug.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<html>
  <section class="board">
  </section>
</html>

<script>
  $( document ).ready( function() {
    console.dir("***Page is loaded. Ready to start loading.", {colors:true});
    createEmptyBoard();
  });
  //render cards...
  // function createPlayingCards()

  //move cards to players hands
</script>
