html {
  height: 100%;
  overflow: hidden;
  body {
    background-color: #d7ccc8;
    height: 100%;
    margin: 0;
    .navbar {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 64px;
      justify-content: space-between;
      overflow: auto;
      padding: 10px 10px;
      width: 100%;
      .intro {
        color: #bcaaa4;
        font-size: 20px;
      }
      .title {
        color: #212121;
        font-size: 30px
      }
      form {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

    }
    #game-container {
      background-color: #efebe9;
      height: 100%;
      margin: 0 auto;
      padding: 10px;
      width: 90%
    }
  }
}
